.ui-mask-cont {
	padding: .24rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: .05rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: .28rem;
	font-family: "PingFang SC", Helvetica, Arial, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, Sans-serif;
}

.ui-mask-loading {
	width: .52rem;
	height: .52rem;
	vertical-align: -0.16rem;
	margin-right: 0.1rem;
}