.user_tit{
	padding-top:.6rem;

	text-align:center;
	h5{
		padding-bottom: .32rem;
		font-size: .42rem;
		color: #252525;

	}
}
.login_line{
	border-bottom: .01rem solid #ededed;
	display:flex;
	justify-content: center;
	span{
		width: .76rem;
		height: .08rem;
		background: #008aec;
		display:block;
	}
}

.personal{

	padding: 0 .3rem;


}
.personal_form{

	padding-top: .85rem;

}